<h1><%= pageTitle %></h1>

<!-- <% %> JavaScript-->
<!-- <%=  %>  Tells you to print to the screen -->

<%
  console.log('hello')
  <!-- forEach is for an array as opposed to a for loop -->
<<ul></ul>
  data.properties.forEach(function (property, index) {

  });
%>


<script>
  console.log('hello')
</script>
